{
  "name": "react-router-redux",
  "version": "4.0.8",
  ...
  "main": "lib/index",
  "files": [
    "*.md",
    "dist",
    "LICENSE",
    "lib",
    "src"
  ],
  ...
  "scripts": {
    "build": "npm run build:commonjs & npm run build:umd & npm run build:umd:min",
    "build:commonjs": "mkdir -p lib && babel ./src -d lib",
    "build:umd": "webpack dist/ReactRouterRedux.js",
    "build:umd:min": "NODE_ENV=production webpack dist/ReactRouterRedux.min.js",
    ...
    "prepublish": "npm run build"
  }
  ...
}